.details {

	&__header {
		padding-bottom: .75rem;
		margin-bottom: 1rem;
		display: flow-root;

		&__h1 {
			font-size: 3rem;
			font-weight: 300;
			color: inherit;
			margin: 0;
			position: relative;
			width: 50%;
			float: left;

			@include breakpointAt(small) {
				width: 100%;
	        }
		}

		&__image {
			float: right;
			width: 10rem;

			@include breakpointAt(small) {
				float: none;
				display: initial;
				margin-bottom: 2rem;
	        }
		}

		@include breakpointAt(small) {
			margin-bottom: 3rem;
			text-align: center;
        }
	}

	&__return-link {
		text-decoration: underline;
		font-size: 1.6rem;
		color: #2C2C2C;
		margin-top: 3rem;
	}

	&__wrap {
		display: grid;
		grid-template-columns: 60% 40%;

		&__h2 {
			font-size: 2.5rem;
			font-weight: 300;
			margin: 3rem 0;
			position: relative;
			border-top: .1rem solid #e1e1e1;
			padding: 2rem 0 0 0;

			&--small {
				font-size: 1.6rem;
			}
		}

		&__number {
			font-size: $minor-copy;
			margin: 2rem 0 0 0;
			padding-bottom: 2rem;
			font-weight: bold;
		}

		&__thanks {
			font-size: $minor-copy;
			margin: 2rem 0;
			padding-bottom: 2rem;
			border-bottom: .1rem solid #e1e1e1;
		}

		&__auto {
			font-size: $minor-copy;
			margin: 2rem 0;

			&--title {
				font-weight: 500;
				line-height: 1.5;
			}

			&--change {
				float: right;
				text-decoration: underline;
				font-size: 1.1rem;
			}
		}

		&--required {
			color: #007BFC;
			margin-bottom: 3rem;
			font-size: $minor-copy;
		}

		&__register {
			border-top: .1rem solid #e1e1e1;
			padding: 2rem 0;
		}

		&__marketing {
			font-size: $minor-copy;

			&--text {
				font-size: $minor-copy!important;
				line-height: 1.1!important;
			}

			&--title {
				font-weight: 500;
				line-height: 1.5;
			}
		}

		&__payment {
			margin-bottom: 2rem;

			&--label {
				font-size: 1.4rem;
				position: relative;
				display: block;
			}

			&--image {
				max-height: 3rem;
			}

			&__card-security {
				display: grid;
				grid-template-columns: 50% 50%;
			
				&--expiry {
					width: 8rem !important;
				}
			}
		}

		&__payment-content {
			border-bottom: .1rem solid #e1e1e1;
			margin-bottom: 2rem;
		}

		@include breakpointAt(small) {
			grid-template-columns: 100%;
        }

        &__share-box {
			padding: 2rem;
			margin-left: 3rem;
		}

        &__total-box {
        	border: .1rem solid var(--ca-stroke);
			background-color: #ffffff;
			padding: 3rem;
			margin-left: 3rem;

			&__h3 {
				text-align: center;
				font-size: 2rem;
				margin-bottom: 2rem;
			}

			&__product {
				display: grid;
				grid-template-columns: 20% 60% 20%;
				border-bottom: .1rem solid #e1e1e1;
				padding: 1.5rem 0;

				&--padding {
					margin-left: 1rem;
					font-size: 1.3rem;
				}

				&--name {
					font-weight: 500;
					line-height: 1.5;
				}

				&--price {
					text-align: right;
					font-size: 1.4rem;
				}
			}

			@include breakpointAt(small) {
				margin: 3rem 0;
				display: none;
	        }
        }

        &__share-box {

        	&__h1 {
        		font-size: $minor-copy;
        		font-weight: 500;
        		line-height: 1.5;
        	}

        	&__h2 {
        		font-size: $minor-copy;
        		font-weight: normal;
        	}

        	&__product {
        		display: grid;
        		grid-template-columns: 30% 70%;
        		margin-top: 2rem;

        		&--image {
        			border: .1rem solid #e1e1e1;
        			background-color: #ffffff;
        		}

        		&--text {
        			margin-left: 2rem;
        			font-size: 1.3rem;
        		}

        		&--title {
        			font-weight: 500;
        			line-height: 1.5;
        		}
        	}

        	&__social {
        		margin-top: 2rem;
        	}
        }

		&__footer-wrap {
			display: grid;
			grid-template-columns: 50% 50%;
	        font-size: $minor-copy;

	        &--delivery {
	        	order: 1;

	        	@include breakpointAt(small) {
					order: 2;
		        }
	        }

	        &--totals {
	        	order: 2;

	        	@include breakpointAt(small) {
					order: 1;
		        }
	        }

	        @include breakpointAt(small) {
				grid-template-columns: 100%;
	        }

	        &__total-wrap {
	        	display: flex;margin: 0;
	        	margin-top: 1.5rem;
	        	font-size: 1.4rem;

	        	@include breakpointAt(small) {
	        		margin: 3rem 0 0 0;
		        }

	        	&--title {
	        		flex: 1;
	        		font-weight: 500;
	        	}

	        	&--was {
	        		font-weight: 300;
	        		font-size: 1rem;
	        	}

	        	&--required {
					color: #007BFC;
					font-size: 1rem;
					font-weight: lighter;
				}

	        	&--value {
	        		flex: 1;
	        		text-align: right;
	        		font-weight: 500;

	        		&--small {
	        			font-size: 1rem;
	        			font-weight: normal;
	        			color: $faded-text;
	        		}
	        	}

	        	&--delivery {
	        		flex: 1;
	        	}

	        	&--delivery-right {
	        		text-align: right;
	        	}
	        }
	    }

	    &__terms {
			border-bottom: .1rem solid #e1e1e1;
			border-top: .1rem solid #e1e1e1;
			margin: 2rem 0;
			padding: 2rem 0;

			&--text {
				font-size: $minor-copy!important;
				line-height: 1.1!important;

				a {
					font-weight: normal!important;
					text-decoration: none;
					border: none!important;
				}
			}

			&--title {
				font-weight: 500;
				line-height: 1.5;
			}
	    }
	}

	&--button {
		float: right;

		@include breakpointAt(small) {
			float: none;
			display: block;
			margin-bottom: 3rem;
		}
	}
}

#billing_address {
	display: none;
}

#billing_checkbox {
    margin-right: 1rem;
}

#create_account_wrap {
	display: none;
}

.steps {
	margin-bottom: 5rem;

	&__steps_wrap {
		display: grid;
		grid-template-columns: 3rem 7.5rem 3rem 7.5rem 3rem;
		width: 22.5rem;
		margin: 0 auto;

		&--essentail {
			border-radius: 2rem;
			width: 3rem;
			height: 3rem;
			text-align: center;
			padding-top: .8rem;
		}

		&__bar_complete {
			height: .2rem;
			background-color: #007BFC;
			margin-top: 1.2rem;
		}

		&__bar_default {
			height: .2rem;
			background-color: #DEE0E0;
			margin-top: 1.2rem;
		}

		&--complete {
			background-color: #007BFC;
			color: #ffffff;
			border: .2rem solid #007BFC;
		}

		&--next {
			background-color: #ffffff;
			color: #007BFC;
			border: .2rem solid #007BFC;
		}

		&--default {
			background-color: #ffffff;
			color: #2C2C2C;
			border: .2rem solid #DEE0E0;
		}
	}

	&__steps_text {
		display: grid;
		grid-template-columns: 37% 33% 31%;
		width: 27rem;
		margin: 1rem auto;
		color: #2C2C2C;
		font-size: 1.2rem;

		&__basket {
			margin-left: 1.7rem;
		}

		&__pay {
			text-align: right;
		}

		&__delivery {
			text-align: center;
		}

		&--complete {
			color: #007BFC;
		}
	}
}

.details_modal {
	position: fixed;
	z-index: 999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.6);

	&__wrap {
		background-color: #fefefe;
		position: relative;
		margin: 15% auto;
		padding: 2.5rem;
		width: 35rem;
		border-radius: .3rem; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

		&__default {
			display: block;
		}

		&__login {
			display: none;
		}

		&__h1 {
			font-size: 2.2rem;
			margin-top: 2rem;
			margin-bottom: 1.5rem;
			font-weight: 300;
		}

		&--label {
			display: block;
			font-size: 1.4rem;
			margin-bottom: .75rem;
		}

		&--input {
			width: 100%;
			margin-bottom: 2rem;
	        border-radius: .4rem;
	        background-color: white;
	        border: .3rem solid #e7e7e7;
	        font-size: 1.3rem;
	        font-weight: $book;
	        line-height: 3.75rem;
	        padding-left: 1.5rem;
	        padding-right: 1.5rem;
	        appearance: none;
	        -webkit-text-stroke-width: inherit;
	        transition: border-color .5s ease-in-out;

	        &:hover {
            	border-color: var(--ca-confirm);
            	transition: border-color .2s ease-in-out;
        	}
		}

		&--sign_in {
			display: block;
			background-color: #007BFC;
			color: #fff;
			text-align: center;
			padding: 1.3rem;
			margin-bottom: 3rem;
			cursor: pointer;
			border: none;
			width: 100%;
			font-size: 1.3rem;
			border-radius: 0.3rem;
		}

		&--guest {
			display: block;
			background-color: #DCDEDE;
			color: #2C2C2C;
			text-align: center;
			padding: 1.3rem;
			margin-bottom: 1rem;
			cursor: pointer;
			font-size: 1.3rem;
			border-radius: 0.3rem;
		}

		&--close {
			color: #aaa;
			float: right;
			font-size: 2.8rem;
			font-weight: bold;

			&--icon {
				width: 1.5rem;
				float: right;
			}
		}

		&--create {
			color: #007BFC;
			font-size: 1.2rem;
			text-align: center;
		}

		&__password {
			text-align: right;

			&--link {
				color: #2C2C2C;
				font-size: 1.1rem;
				text-decoration: underline;
				cursor: pointer;
			}
		}

		&--close:hover,
		&--close:focus {
			color: black;
			text-decoration: none;
			cursor: pointer;
		}
	}	
}


// Loose styles due to poor BEM implementation
.details-modal {

	&__close-link {
		display: inline-block;
		padding: .5rem;
		position: absolute;
		right: 1rem;
		top: 1rem;
		cursor: pointer;
	}

	&__close-icon {
		width: 2.3rem;
		height: auto;
	}
}




